<!--[if lt IE 8]>
<div>
    <p>
        已经有超过90%的用户使用更高版本
        <a target="_blank" title="下载Chrome" href="http://www.google.com/chrome/">Google Chrome</a>
        或
        <a target="_blank" href="http://www.microsoft.com/zh-cn/download/ie.aspx?q=internet+explorer">Internet Explorer</a>
        体验到了更流畅更精彩的页面，你还不试试？
    </p>
</div>
<![endif]-->

<header class="header">
    <nav class="navbar">
        <div class="slogan">
            <a href="{{ '' | prepend: site.baseurl }}">{{ site.title }}</a>
        </div>
        <div class="menu">
            <spam class="menu-icon" id="js-menu-toggle"></spam>
            <ul class="menu-list">
                {% for menuItem in site.data.menu.mainmenu %}
                <li class="menu-item">
                <a href="{{ menuItem[1].url | prepend: site.baseurl }}">
                <i class="fa {{menuItem[1].icon_class}}"></i>
                {{menuItem[1].text}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
